{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}

{% block content %}
<div class="items-center mt-6">
    <h1 class="text-4xl sm:text-2xl lg:text-4xl font-extrabold text-blue-400 text-center mb- p-4">
        Welcome to <span class="text-indigo-400  lg:text-6xl sm:text-4xl">PostNest</span>
    </h1>
    <p class="text-lg sm:text-xl lg:text-xl  text-center text-gray-400 font-medium max-w-2xl px-4 mb-4 pl-4">
        Where Ideas Take Flight
    </p>
</div>


    <div class="flex justify-center items-center max-h-screen ">
       
        <div class="bg-white shadow-lg rounded-lg p-8 max-w-md w-full">
            <h1 class="text-3xl font-bold text-center mb-6 signin">{% trans "Sign In" %}</h1>
    
            {% if not SOCIALACCOUNT_ONLY %}
                <p class="text-gray-600 text-center mb-4">
                    {% blocktranslate %}If you have not created an account yet, please <a href="{{ signup_url }}" class="text-blue-500 hover:underline">sign up</a> first.{% endblocktranslate %}
                </p>
    
                <form method="post" action="{% url 'account_login' %}" class="flex flex-col gap-4">
                    {% csrf_token %}
                    <div class="flex flex-col gap-3 ">
                        <div class='text-black-900 signin' style='color: ; font-weight:400; font-style:italic; font-size:1rem; display:flex; flex-direction:column; gap:8px;'>
                            {{ form.as_p}}
                            {{ redirect_field }}
                        </div>
                    </div>
                    
                    <div class="text-center mt-4">
                        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-6 rounded focus:outline-none">
                            {% trans "Sign In" %}
                        </button>
                    </div>
                </form> 
                
                
            {% endif %}
    
            
    
            {% if SOCIALACCOUNT_ENABLED %}
                {% include "socialaccount/snippets/login.html" %}
            {% endif %}
        </div>
    </div>

{% endblock content %}

{% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock extra_body %}


