{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}

<div class="flex justify-center items-center max-h-screen">
    <div class="bg-white shadow-lg rounded-lg p-8 max-w-md w-full">
        <h1 class="text-3xl font-bold text-center mb-6 password">{% trans "Password Reset" %}</h1>
        
        <p class="text-gray-600 text-center mb-4">
            {% blocktranslate %}Forgotten your password? Enter your email address below, and we'll send you instructions on how to reset it.{% endblocktranslate %}
        </p>
        
        <form method="post" action="{% url 'account_reset_password' %}" class="flex flex-col gap-4">
            {% csrf_token %}
            <div class="flex flex-col gap-3 password">
                <div class="text-black-400 p-4">
                    {{ form.as_p }}
                </div>
            </div>
            
            <div class="text-center mt-4">
                <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-6 rounded focus:outline-none">
                    {% trans "Send Password Reset Email" %}
                </button>
            </div>
        </form>
        
        <div class="text-center mt-4">
            <a href="{% url 'account_login' %}" class="text-blue-500 hover:underline">{% trans "Back to Sign In" %}</a>
        </div>
    </div>
</div>

{% endblock content %}
